/* Your CSS code here. */
header{
	background-color:#e5e5e5;
	padding:20px;
}
nav{
	background-color:rgb(0, 0, 0);
	padding:10px;
	color:white;
	
}
a{
	color:white;
	text-decoration:none;
}
main{
	display:flex;
}
.main{
	background-color:#f5f5f5;
	padding:20px;
}
aside{
	background-color:lightgray;
	padding:20px;
}
footer{
	background-color:#e5e5e5;
	padding:20px;
}